body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}
.nav-tabs{
    padding-bottom: 1.5em;
}
.nav-tabs .nav-link {
  font-weight: 500;
  color: #495057;
}

.nav-tabs .nav-link.active {
  color: #007bff;
  font-weight: 700;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
}

.tab-content h3 {
  font-weight: 700;
  color: #343a40;
}

.tab-content {
  padding: 20px;
    padding-top: 0px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-top: 0;
}
.tab-pane{
    width: 100%;
}
#weather-data {
  margin-top: 15px;
  font-size: 1.1em;
  color: #6c757d;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: 700;
}

.card-text {
    font-weight: 400;
}

#todo-form .form-control {
    margin-bottom: 10px;
}

#todo-form .btn {
    width: 100%;
}
.tab-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.inhalt{
    display: flex;
}

#todo-form{
    margin-top: 0px;
}
.schedule-event {
    background-color: red !important;
    border: none !important;
    color: white !important;
}