.git

__pycache__/
*.py[cod]
*$py.class

*.test
*.tests
tests/
testing/

*.env
*.venv
venv/
ENV/
env/


*.log
*.tmp

.settings/
secrets.yml
*.cer
*.cert
*.key

.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace

.DS_Store
Thumbs.db

build/
dist/
target/

node_modules/

deploy/
*.bak
*.config
*.ini
*.info
*.egg-info/
*.wheel

api/migrations

staticfiles